@import url("https://code.cdn.mozilla.net/fonts/fira.css");
@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic");
/* ***** CSS properties to avoid and switch to HTML attributes *****
*  margin, padding ---> cellspacing, cellpadding on <table>
*  width, height ---> width, height on <table>, <td>
*/
body {
  color: #414042;
  font-family: 'Fira Sans', Trebuchet MS;
  margin: 0;
}
a {
  text-decoration: none;
}
a img {
  border: 0 none;
  outline: none;
}
img {
  border: 0 none;
  max-width: 600px !important;
  height: auto !important;
  line-height: 100%;
  outline: none;
  text-decoration: none;
}
table,
td {
  border-collapse: collapse;
}
td.no-padding {
  padding: 0;
}
.open-sans {
  font-family: 'Open Sans', Trebuchet MS;
}
#background-table {
  background: #fff;
}
#content-wrapper-table {
  background: #e8e8e8;
}
#content-wrapper-table .grey-link > span {
  font-size: 20px;
  color: #6d6e71;
}
#main-content {
  background: #6bb94e;
  color: #fff;
}
#main-content h1 {
  font-size: 54px !important;
  text-align: center;
  font-weight: 300;
  line-height: 1.2;
}
#main-content .note {
  color: #d2e7c1;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
}
#shop-now-link {
  display: block;
  background: #21b686;
}
#logo-header {
  background: #fff;
}
#content-footer {
  color: #c1e3d0;
  background: #21b686;
  font-size: 21px !important;
}
#content-footer a {
  display: inline-block;
}
#content-footer a > span {
  color: #fff;
  text-decoration: none;
}
#email-footer p {
  font-size: 12px !important;
  color: #57575c;
  line-height: 1.2;
}
#email-footer a > span {
  color: #57575c;
  text-decoration: underline;
}
#footer-background-table {
  background: #21b686;
}
