@import url("https://code.cdn.mozilla.net/fonts/fira.css");
@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic");
/* ***** CSS properties to avoid and switch to HTML attributes *****
*  margin, padding ---> cellspacing, cellpadding on <table>
*  width, height ---> width, height on <table>, <td>
*/
body {
  background: #e8e8e8;
  color: #414042;
  font-family: 'Fira Sans', Trebuchet MS;
  margin: 0;
}
a {
  text-decoration: none;
}
a img {
  border: 0 none;
  outline: none;
}
img {
  border: 0 none;
  max-width: 600px !important;
  height: auto !important;
  line-height: 100%;
  outline: none;
  text-decoration: none;
}
table,
td {
  border-collapse: collapse;
}
td.no-padding {
  padding: 0;
}
.open-sans {
  font-family: 'Open Sans', Trebuchet MS;
}
#background-table {
  background: #e8e8e8;
}
#content-wrapper-table {
  border: 1px solid #ccc;
}
#logo-header {
  background: #21b686;
}
#main-content {
  background: #fff;
}
#main-content h1 {
  color: #54c0a3;
  font-size: 46px !important;
  text-align: center;
  line-height: 1.2;
  margin-top: 0;
}
#main-content h2 {
  font-size: 22px !important;
  text-align: center;
  font-weight: 500;
  line-height: 1.3;
  margin-top: 40px;
  margin-bottom: 40px;
}
#main-content p,
#main-content ul {
  font-size: 18px !important;
}
#main-content ul {
  margin: 40px 0;
}
#main-content li {
  margin-bottom: 10px;
}
#main-content a > span {
  color: #54c0a3;
  text-decoration: underline;
  font-weight: bold;
}
#content-footer {
  color: #57575c;
  background: #21b686;
  font-size: 21px !important;
}
#content-footer a {
  display: inline-block;
}
#content-footer a > span {
  color: #fff;
  text-decoration: none;
}
#email-footer p {
  font-size: 12px !important;
  color: #fff;
  line-height: 1.2;
}
#email-footer a > span {
  color: #fff;
  text-decoration: underline;
}
#footer-background-table {
  background: #21b686;
}
